img {
  display: block;
  margin: 0 auto;
  max-width: 400px; /* change size */
  height: auto;
}

p {
    display: block;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

#choices-container {
    display: block;
    margin: 0 auto;
    height: auto;
    text-align: center;
}